# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Environments
.env
.venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Quantbot
*.html
*.png
.pytest_cache/
eval_results/
logs/
/data/
